<div class="rows">
  <div class="toolbar-section">
    <button (click)="getPageDetails()" nz-button nzType="primary">
      <i nz-icon nzType="file-add"></i>Add Page
    </button>

    <button class="button-aligment" nz-button nzType="primary">
      <i nz-icon nzType="file-add"></i>Load All Pages
    </button>

    <button
      (click)="clearAllPages()"
      class="button-aligment"
      nz-button
      nzType="dashed"
      nzDanger
      [disabled]="pages.length < 1"
    >
      <i nz-icon nzType="delete"></i>Clear All Pages
    </button>
  </div>

  <nz-divider nzOrientation="left" nzText="Collection"></nz-divider>

  <div class="continer overflow" nz-row [nzGutter]="[32, 32]" #collection>
    <div *ngIf="pages.length < 1 && !isLoading" class="flex-center continer">
      <nz-empty></nz-empty>
    </div>

    <nz-spin
      *ngIf="isLoading"
      class="loading-spinner"
      nzSimple
      nzSize="large"
      nzTip="Loading..."
    ></nz-spin>

    <div
      *ngFor="let page of pages"
      nz-col
      class="gutter-row"
      [nzSpan]="nzSpanValue"
      [ngStyle]="{ opacity: isLoading ? '0.3' : '1' }"
    >
      <app-page-details
        [pageDetails]="page"
        [isOneRow]="pages.length < 5"
      ></app-page-details>
    </div>
    <nz-back-top [nzTarget]="collection" nzVisibilityHeight="10"></nz-back-top>
  </div>
</div>
